node_modules

result.html

video_url.txt

download_videos/
results/

pinterest_video_audio_urls.txt

output.mp4

pinterest_gif.gif
stories.txt

output_video_360p.mp4
output_video_540p.mp4
output_video_720p.mp4
output_video_1080p.mp4

output_video_unknown.mp4

result_multiple.html
result_single.html

result.txt
image.txt

douyin.html

result_douyin.html
result_douyin.txt

facebook_video.html
facebook_url.txt

fb_output_video_unknown.mp4
fb_output_video.mp4